<div class="forgot_password">
  <div class="container-fluid">
    <div class="row align-items-center justify-content-center">
      <div class="col-xg-4 col-lg-4 col-md-6 col-sm-9 col-12 text-center">
        <img src="../../../assets/imgs/logo.png" class="img-fluid logo" />
        <div class="forgot_password_form">
          <div class="form_header">
            <h1>Forgot Password</h1>
          </div>
          <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
            <p class="forgot_password_p">Please enter your username to get the reset code.</p>
            <div class="form-group">
              <input type="text" class="form-control user" id="userName" required placeholder="Username" formControlName="email">
            </div>
            <button mat-button class="" [disabled]="!form.valid">Next</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
