<div class="container">
  <div class="row align-items-center justify-content-between organization_header">
    <div class="col-md-6 col-6">
      <h3>ORGANISATION LIST</h3>
    </div>
    <div class="col-md-3 col-6 text-right">
      <div class="search">
        <input type="serach" class="form-control" />
        <button><img src="assets/imgs/icon-serch.svg" /></button>
      </div>
    </div>
  </div>
  <div class="row organization_list">
    <div *ngFor="let orga of orgaList" class="col-md-3 p-md-0">
      <div class="organization_section">
        <h3>{{orga.name}}</h3>
        <div class="organization_content">
          <div class="col p-0">
            <ul>
              <li>
                <p>USERS {{orga.totalUser}}</p>
              </li>
              <li>
                <p>ADMIN {{orga.totalAdmin}}</p>
              </li>
            </ul>
          </div>
          <div class="col p-0 text-right">
            <a routerLink="" (click)=getOrganization(orga.id) mat-button>View</a>
          </div>
        </div>
      </div>
    </div> 
  </div>
  <!-- <div class="row pagination justify-content-end">
    <ul>
      <li><a href="" class="prev"><img src="assets/imgs/arrow-left.svg"/></a></li>
      <li><a href="" class="active">1</a></li>
      <li><a href="">2</a></li>
      <li><a href="">3</a></li>
      <li><a href="">4</a></li>
      <li><a href="">5</a></li>
      <li><a href="" class="next"><img src="assets/imgs/arrow-right.svg"/></a></li>
    </ul>
  </div> -->
</div>