<div class="container">
  <div class="row align-items-center justify-content-between">
    <div class="col-md-12 ">
      <div class="organization_header">
        <div class="col-md-6 col-6">
          <h3>{{this.orgaName}}</h3>
        </div>
        <div class="col-md-3 col-6 text-right">
          <div class="search">
            <input type="text" (keyup)="searchUsers($event.target)" class="form-control" />
            <button><img src="assets/imgs/icon-serch.svg" /></button>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col-md-6 col-sm-12 col-12">
      <div class="dr_pannel">
        <h4>ADMIN</h4>
        <div *ngFor="let user of orgaUsers">
          <div *ngIf="(user.usertypeid == 1)" class="dr_list">
            <h3>{{user.fullname}}</h3>
            <button mat-button routerLink="" (click)=getUserResult(user.username)>View</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-sm-12 col-12">
      <div class="dr_pannel">
        <h4>STANDARD USERS</h4>
        <div class="scroll">
          <div *ngFor="let user of orgaUsers">
            <div *ngIf="(user.usertypeid == 3)" class="dr_list">
              <h3>{{user.fullname}}</h3>
              <button mat-button routerLink="" (click)=getUserResult(user.username,user.fullname)>View</button>
            </div>
          </div>
        </div>
        </div>
      </div>
  </div>
  <!-- <div class="row pagination justify-content-end">
    <ul>
      <li><a href="" class="prev"><img src="assets/imgs/arrow-left.svg" /></a></li>
      <li><a href="" class="active">1</a></li>
      <li><a href="">2</a></li>
      <li><a href="">3</a></li>
      <li><a href="">4</a></li>
      <li><a href="">5</a></li>
      <li><a href="" class="next"><img src="assets/imgs/arrow-right.svg" /></a></li>
    </ul>
  </div> -->
</div>
