<!-- <p>
  dr-module-tab works!
</p> -->
<div class="container">
  <div class="row align-items-end">
    <div class="col-md-12">
      <div class="tabs_header">
          <h3>DR DAY </h3>
          <p>Module: 3 13/12/23 22:01</p>
      </div>
    </div>
    <!-- <div class="col-md-6 text-right">
      <ul>
        <li><a>Session</a></li>
        <li><a>Quantitative</a></li>
        <li><a>Qualitative</a></li>
      </ul>
    </div> -->
  </div>
  <div class="row">
    <div class="col-md-12">
      <mat-tab-group mat-align-tabs="end">
        <mat-tab label="Session">
            <div class="tab_section">
                <div class="first_tab_section">
                  <h3>Scenario</h3>
                  <p>seenario 3 / Adult Status Epilepticus</p>
                  <ul>
                    <li>
                      <p>Difficulty:<span>Advace</span></p>
                    </li>
                    <li>
                      <p>Distruction:<span>High</span></p>
                    </li>
                    <li>
                      <p>User:<span>Dr. Das</span></p>
                    </li>
                    <li>
                      <p>Date:<span>12/12/2018</span></p>
                    </li>
                    <li>
                      <p>Time:<span>03:23:05</span></p>
                    </li>
                  </ul>
                </div>
              </div>
        </mat-tab>
        <mat-tab label="Quantitative">

        </mat-tab>
        <mat-tab label="Quantitative">

        </mat-tab>
      </mat-tab-group>
    </div>


    <div class="col-md-12">
      

    </div>
  </div>
</div>